body {
  background-color: #96dd39;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.table {
  float: left;
  margin: 15px;
}

table {
  border-color: white;
  border: 2px;
  border-collapse: collapse;
}
th {
  background-color: white;
  padding: 2px 3px;
}

button {
  background-color: #FFFFFF;
  margin: auto;
}
